# Kafka
export KAFKA_BROKERS=

# Kafka SASL Authentication
export SASL_USERNAME=
export SASL_PASSWORD=
export SASL_MECHANISM=

# Kafka SSL Authentication
export SSL_CA_LOCATION=
export SSL_CERT_LOCATION=
export SSL_KEY_LOCATION=

# Schema Registry if producing Avro
export SCHEMA_REGISTRY_URL=
export SCHEMA_REGISTRY_USERNAME=
export SCHEMA_REGISTRY_PASSWORD=
